@font-face {
  font-family: 'DegularBold';
  src: url('../../../public/fonts/fonnts.com-DegularDemo-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('../../../public/Poppins-Medium.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../../../public/Poppins-SemiBold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
}

.CBSE3-app-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 100px;
}

.CBSEC3-section-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28%;
  padding: 20px;
}

.CBSEC3-section-card.CBSEC3-reverse {
  flex-direction: row-reverse;
}

.CBSEC3-section-card img {
  width: 100%;
}

.CBSE3-text-content {
  flex: 1;
}

.CBSE3-text-content h2 {
  font-family: 'DegularBold';
  font-size: 24px;
  margin-bottom: 10px;
}

.CBSE3-text-content p {
  font-family: 'PoppinsMedium';
  line-height: 2;
  max-width: 400px;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.CBSE3-download-btn {
  font-family: 'PoppinsSemiBold';
  padding: 12px 15px;
  background-color: #2C3192;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
}

.CBSE3-download-btn:hover {
  background-color: #003b8b;
}

.CBSE3-section-image {
  flex: 1;
  width: 100%;
  max-width: 370px;
  height: auto;
  object-fit: cover;
}

.CBSE-IMAGE-SECTION-Contains {
  position: relative;
  display: inline-block;
}

.CBSE3-corner-border {
  position: absolute;
  top: -3px;
  right: -1px;
  width: 200px;
  height: 190px;
  border: 9px solid #2C3192;
  border-top: none;
  border-left: none;
  transform: rotateX(180deg);
  border-radius: 2px;
  z-index: 1;
  pointer-events: none;
}

/* Mobile View Styles */
@media screen and (max-width: 768px) {
  .CBSE3-app-container {
    padding: 20px;
  }

  .CBSEC3-section-card {
    flex-direction: column;
    gap: 20px;
    text-align: left;
  }

  .CBSE3-text-content {
    text-align: left;
  }

  .CBSE3-text-content h2 {
    font-size: 20px;
  }

  .CBSE3-text-content p {
    font-size: 14px;
  }

  .CBSE3-download-btn {
    font-size: 14px;
  }

  .CBSE3-section-image {
    max-width: 100%;
    height: auto;
  }

  .CBSE3-corner-border {
    display: none; /* Optional: Hide the corner border for better alignment */
  }
  
  .CBSEC3-section-card.CBSEC3-reverse  {
    flex-direction:column;
  }

  .CBSE3-download-btn {
    padding: 9px 12px;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
}


