.our-management {
  scroll-margin-top: 120px;
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .our-management__title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .our-management__title span {
    color: #c53c3d;
  }

  .text_About_C7{
    font-family: 'Degularbold';
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .black-text_C7 {
    font-family: 'Degularbold';
    color: black;
  }
  
  .blue-text_C7 {
    font-family: 'Degularbold';
    color: #2C3192; /* Adjust to match red */
  }
  
@media(max-width:760px){
  .our-management__title {
    font-size: 1.4rem;
  }
  .text_About_C7{
    font-size: 1.4rem;
  }
}
  