body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .halloween-event {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px  100px;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .event-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .event-header h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .event-description {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #555;
  }
  
  .event-description p {
    margin-bottom: 15px;
  }
  
  .event-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .gallery-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .gallery-first-row img{
    border-radius: 28px;
    max-width: 700px;
    height: 250px;
  }

  .small-Halloween-img{
    width: 250px;
    margin-right: 13px;
  }

  .large-Halloween-img{
    width: 650px;
  }

  .gallery-row {
    display: flex;
    gap: 10px;
  }
  
  .gallery-row img {
    width: 300px;
    height: 290px;
    object-fit: cover;
    border-radius: 32px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  } 


  @media (max-width: 768px) {
    .gallery-row img {
      width: 100%;
      height: auto;
    }
    
    .halloween-event{
      padding: 20px;
    }


    
  .gallery-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .gallery-first-row img{
    border-radius: 5px;
    max-width: 500px;
    height: 150px;
  }

  .small-Halloween-img{
    width: 130px;
    margin-right: 13px;
  }

  .large-Halloween-img{
    width: 250px;
  }

  .gallery-row {
    display: flex;
    gap: 5px;
  }
  
  .gallery-row img {
    width: 160px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  } 
  .none{
    display: none;
  }
  }
  