@import url('../Font.css');

.AcadC6-container {
  padding: 4vw 7.5vw;
}

.inner-Container-C6 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.upper-images-C6 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.upper-image-C6 {
  width: 20vw;
  height: 16vw;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.Academic-titleC6 {
  font-family: 'PoppinsBold';
  text-align: left;
  margin-bottom: 20px;
}

.lower-images-C6 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.lower-image-C6 {
  object-fit: cover;
  border-radius: 8px;
}

.small-C6 {
  width: 17vw;
  height: 16vw;
}

.large-C6 {
  width: 23vw;
  height: 16vw;
}

.AcadC6-content {
  top: 0;
  max-width: 700px;
  text-align: justify;
}

.AcadC6-content h2 {
  font-family: 'PoppinsBold';
  text-align: left;
  margin-bottom: 2.8vw;
}

.AcadC6-content p {
  font-family: 'PoppinsMedium';
  color: rgb(43, 43, 43);
  margin: 10px 0;
  font-size: 0.9rem;
  line-height: 2;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .AcadC6-container {
    padding: 30px 50px;
  }

  .inner-Container-C6 {
    flex-direction: column;
    align-items: flex-start;
  }

  .upper-image-C6 {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .large-C6 {
    width: 150px;
    height: 130px;
  }

  .small-C6{
    width: 150px;
    height: 130px;
  }

  .AcadC6-content p {
    font-size: 0.9rem;
  }

  .AcadC6-content {
    max-width: 100%;
  }
}

@media (max-width: 760px) {
  .AcadC6-container {
    padding: 20px;
  }


  .inner-Container-C6 {
    padding: 10px;
    border: none;
  }
}