.admission-container {
    padding: 50px  100px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  .admission-title{
    text-align: center;
    margin-bottom: 10px;
  }


  .highlights{
    color: #2C3192;
  }
  
  .age-table-container {
    margin: 20px auto;
    padding: 0;
    max-width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .age-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
  }
  
  .age-table th,
  .age-table td {
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  .age-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .age-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .age-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .age-table td {
    color: #333;
  }
  
  .age-table th {
    color: #333;
  }
  
  
  .entry-criteria ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .entry-criteria li {
    margin-bottom: 8px;
    color: #444;
  }
  @media(max-width:760px){
    .admission-container{
      padding: 40px  20px;
    }
    .admission-title {
      text-align: center;
      font-size: 1.3rem;
      color: #333;
      margin-bottom: 20px;
    }

    .age-table th,
    .age-table td {
      text-align: center;
      padding: 12px 15px;
      border: 1px solid #ddd;
      font-size: 13px;
    }

    .age-criteria p{
      font-size: 14px;
    }
  }