@import url('../Font.css');

.admission-container {
  padding: 4vw 8vw;
    line-height: 1.6;
  }

  .admission-title{
    font-family: 'PoppinsExtraBold';
    text-align: center;
    color: #2C3192;
    margin-bottom: 10px;
  }

  .AdmissionsC3-age-criteria  h3{
    font-family: 'PoppinsSemibold';
    text-align: left;
    font-size: 20px;
  }

  .AdmissionsC3-age-criteria  p{
    font-family:'PoppinsMedium';
    line-height: 2;
    font-size: 14px;
  }

  .highlights{
    font-family: 'PoppinsExtraBold';
    color: #2C3192;
  }
  
  .age-table-container {
    margin: 20px auto;
    padding: 0;
    max-width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .age-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
  }
  
  .age-table th,
  .age-table td {
    font-weight: 400;
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  .age-table td{
    font-family: 'Poppins-Regular';
  }
  .age-table th {
    background-color: #f4f4f4;
    font-family: 'PoppinsSemibold';
  }
  
  .age-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .age-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .age-table td {
    color: #4d4d4d;
  }
  
  .age-table th {
    color: #333;
  }
  
  .AdmissionC3-entry-criteria h3{
    font-family: 'PoppinsMedium';
  }

  .AdmissionC3-entry-criteria ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .AdmissionC3-entry-criteria li {
    font-family:'PoppinsMedium';
    font-size: 14px;
    margin-bottom: 8px;
    color: #444;
  }
  @media(max-width:760px){
    .admission-container{
      padding: 40px  20px;
    }
    .admission-title {
      text-align: center;
      font-size: 1.3rem;
      color: #333;
      margin-bottom: 20px;
    }

    .age-table th,
    .age-table td {
      text-align: center;
      padding: 12px 15px;
      border: 1px solid #ddd;
      font-size: 13px;
    }

    .age-criteria p{
      font-size: 14px;
    }
  }