@import url('../Font.css');

.course-fee-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 4vw 7vw;
    line-height: 1.6;
    
  }
  
  .course-fee-title {
    font-family: 'PoppinsExtraBold';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #2C3192;
  }
  
  .highlight {
    color: #2C3192; /* Highlight color */
  }
  
  .course-fee-description,
  .course-fee-instructions,
  .additional-info {
    font-family: 'PoppinsMedium';
    /* font-size: 16px; */
    margin: 10px 0;
    text-align: justify;
  }
  
  .fee-list {
    margin: 20px 0;
    padding-left: 20px;
  }
  
  .fee-list li {
    font-family: 'PoppinsMedium';
    margin: 5px 0;
  }
  
  .download-link {
    font-family: 'PoppinsSemibold';
    display: block;
    font-weight: bold;
    margin: 20px 0;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
  }
  
  .download-button {
    background-color:#2C3191;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  
  @media(max-width:760px){
    .course-fee-title {
      font-size: 1.6rem;
      text-align: left;
      margin-bottom: 20px;
    }
    .course-fee-container{
      padding: 20px 20px;
    }
  }