.recognition-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.recognition-card__image img {
  width: 100%; /* Image width will match the card width */
  height: 200px; /* Maintains aspect ratio */
  object-fit: fill;
  max-width: 100%;
  max-height: 100%; /* Ensures the image fills the container */
}

.recognition-card__content {
  padding: 15px;
}

.recognition-card__content h3 {
  margin-bottom: 15px;
  font-size: 1rem;
}

.recognition-card__content p {
  font-size: 0.7rem;
  text-align: left;
  color: rgb(128, 128, 128);
}


@media (max-width: 768px) {
  .recognition-card {
    max-width: 100%;
  }

  .recognition-card__info {
    flex-direction: column;
    align-items: flex-start;
  }

  .recognition-card__info div {
    margin-top: 5px;
  }
}
