/* Modal container styles */
@font-face {
  font-family: 'PoppinsMedium';
  src: url('../../../public/Poppins-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../../../public/Poppins-SemiBold.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PoppinsRegular';
  src: url('../../../public/Poppins-Regular.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

.CBSEPAGE-fixed-button-left {
  font-size: 18px;
  font-family: 'PoppinsMedium';
  top: 32%;
  left: 0;
  position: fixed;
  transform: translateX(-5%) translateY(50%);
  color: white;
  background-color: #2C3192;
  border: 1px solid white;
  border-radius: 5px;
  padding: 16px 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  z-index: 13;
}

.CBSEPAGE-fixed-button-left:hover {
  background-color: #FFC107;
  color: black;
}

.CBSEPAGE-fixed-button-left-full {
  font-size: 14px;
  font-family: 'PoppinsMedium';
  top: 32%;
  left: 0;
  position: fixed;
  transform: translateX(-5%) translateY(50%);
  color: white;
  background-color: #2C3192;
  border: 1px solid white;
  border-radius: 5px;
  padding: 16px 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  z-index: 13;
}

.CBSEPAGE-fixed-button-left-full .HomePage-arrowforword{
  font-size: 0.9rem;
 }

.CBSEPAGE-fixed-button-left-full:hover {
  background-color: #FFC107;
  color: black;
}

@media (max-width: 760px) {
  .CBSEPAGE-fixed-button-left,
  .CBSEPAGE-fixed-button-left-full {
    padding: 10px 14px;
    top: 72%;
  }
}

.fixed-button {
  font-size: 14px;
  font-family: 'PoppinsMedium';
  top: 60%;
  right: 0;
  position: fixed;
  transform: translateX(39%) translateY(50%) rotate(270deg);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 16px 19px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  animation: color-flash 1s infinite;
  z-index: 13;
}


.CBSEPAGE-fixed-button-left{
  display: flex;
  gap: 10px;
align-items: center;
}

.fixed-button:hover {
  background-color: #0056b3;
}

@keyframes color-flash {
  0% {
    background-color: #2C3192;
  }
  50% {
    background-color: orange;
    color: black;
  }
  100% {
    background-color: #2C3192;
  }
}

@media (max-width: 760px) {
  .fixed-button {
    padding: 13px 16px;
    top: 54%;
  }
}

@media (max-width: 460px) {
  .fixed-button {
    padding: 13px 16px;
  }
}
