@import url('../Font.css');

.b-con {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    justify-content: space-between;
    gap: 2vw;
    padding: 0 8vw;
  }
  
  .s-con {
    text-align: end;
    max-width: 80vw;
  
  }
  
  .s-con h1 {
  font-family: 'PoppinsExtraBold';
    font-size: 2rem; 
    line-height: 1.1;
    font-weight: 700;
    text-align: left;
  color: #2C3191 ;
  }
  
  .s-con p {
    font-size: 1rem;
    line-height: 2;
    text-align: justify;
    font-family: 'PoppinsMedium';
    margin-bottom: 0.3vw;
    color: rgb(0, 0, 0);
  }
 
  
  .Mision-image img {
    top: 0;
    max-width: 420px;
    max-height: 420px;
  }

  .Mision-image{
    width: 100%;
    height: 100%;
  }


  .text_About_C5{
    margin-bottom: 1.2vw;
    text-align: end;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .bottom-paragrapgh-div{
    padding: 0  8vw;
  }
  .bottom-paragraph{
    font-size: 1rem;
    line-height: 2;
    text-align: justify;
    font-family: 'Poppins-Regular';
  }
  
  
  
/* Responsive styling */
@media (max-width: 768px) {
  .b-con {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .s-con {
    text-align: center; /* Center-align text for smaller screens */
    max-width: 90%; /* Adjust width for better readability */
    margin-bottom: 20px;
  }

  .text_About_C5{
    text-align: left;
  }

  .s-con h1 {
    text-align: left;
    font-size:  1.6rem; /* Adjust font size for smaller screens */
  }

  .s-con p {
    text-align: left;
    font-size: 1rem; /* Slightly smaller text for compact screens */
  }

  .Mision-image img {
    max-width: 100%; /* Make image take up full width */
    height: auto;
    margin-top: 20px; /* Add space between text and image */
  }
}